.container{
    margin: 100px 50px;
}

h1{
    font-size: 40px;
    font-weight: bold;
}

.filter button {
    font-size: 15px;
    border-radius: 7px; 
    margin: 3px;
    padding: 3px;
}

.title{
    font-size: 20px;
    font-weight: 600;
}

.price {
    display: flex;
    gap: 15px;
    align-items: center;
}

.price input {
    width: 100px;
    height: 42px;
    color: #ACACAC;
    padding: 10px;
    border-radius: 7px; 
}


.sort_container{
    margin: 80px 0 45px 0;
    display: flex;
    gap: 50px;
}

.discount{
    display: flex;
    align-items: center;
    gap: 40px;
}

.discount input{
    width: 40px;
    height: 40px;
}
 
.sorted{
    display: flex;
    align-items: center;
    gap: 15px;
    
}

.sorted select{
    width: 220px;
    height: 40px;
    border-radius: 7px;
}