.category_card {
	width: 250px;
	height: 350px;
	margin: 0 auto;	
	display: flex;
	flex-direction: column;
  justify-content: center;	
}


.category_card img {
	height: 250px;
	width: 250px;
	border-radius: 10%;  
}

h3 {
  text-align: center;
  margin-top: 10px;
}

/* ----------------------------------- */
/* .category_card {
    border: 1px solid black;
    padding: 15px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    width: 500px;
    margin: 10px auto;
    font-size: 20px;
    font-weight: 700;
  }
  
  .category_card:hover {
    background-color: darkblue;
    color: white;
  }

  a {
    text-decoration: none;
    color: black;
  } */

/* ------------------------------- */

  /* .category_card {    
	max-width: 144px;
	min-width: 523px;
	min-height: 100%;
	margin: 0 auto;
	padding: 30px;
	display: flex;
	flex-direction: column;
	text-align: center;

}

.category_card:hover {
	background-color: rgb(180, 180, 218);
	color: white;
}

a {
	font-size: 25px;
		font-weight: bold;
		color: #333;
} */

/* ----------------------------------------------- */