.sale_container{
    margin-top: 77px;
    height: 600px;
    width: 100%;
    display: flex;
    padding-right: 0px;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    background-color: #A1E2EB;
    ;

}


.sale_btn {    
    cursor: pointer;
    background-color: white;
    color: black;   
    border-radius: 10px;     
    font-size: 25px;
    font-weight: 700;
    /* width: fit-content; */
    padding: 25px 50px;    
   
}

.text {   
   color: white;
   font-size: 80px;
   font-weight: 700; 
   margin-left: 40px;  
   margin-right: 370px;
}


.text p:nth-child(2) {
   font-size: 63px;
   margin-bottom: 50px;
   white-space: nowrap;
}


.bush {
  margin: -70px 0px -20px 0px;    
}

/* ----------------------- */
.catalog_container {
    margin: 40px 30px;
    color: black;
    
   
}

.btn_container{
    display: flex;
    gap: 100px;
    align-items: center;
    padding-bottom: 30px;
    margin-left: 55px;
    
}

.btn_cat{
    width: 320px;
    height: 55px;
    background-size: cover;
    border: none;
    color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 29px;
    letter-spacing: -1.2px;
}

/* ------------------------ */


.dwarf_wrapper{
    height: 555px;
    width: 100%;
    margin-left: 30px;
    background-position: center;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-color: green;
    
}

.discount_descr {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 150px;
    /* align-items: center; */
}

.discount_descr  h1{
    padding-right: 200px;
    margin-top: 50px;   
    color: white;
    font-size: 90px; 
    margin-bottom: -10px;   
}

.discount_descr h2{
   margin-bottom: 40px;
    /* text-transform: uppercase; */
    font-size: 50px;
    color: white;
    letter-spacing: 3px;
}


.phone_num_inp{
    width: 473px;
    height: 85px;
    border: none;
    border-radius: 20px;
    margin-bottom: 30px;
    margin-top: 50px;
   
}

.phone_num_inp::placeholder{
    font-size: 25px;
    font-weight: 600;
    padding-left: 50px;
    font-family: cursive;
}

.discount_btn{
    width: 473px;
    height: 85px;
    font-size: 35px;
    font-weight: 473;
    color: white;
    /* font-family: cursive; */
    /* text-transform: uppercase; */
    background-color: transparent;
    border: 2.4px solid white;
    border-radius: 20px;
    margin-bottom: 30px;
    
}

/* ------------------------------ */

/* sale_container */
.product_container{
    width: 320px;
    
}

.gen_sale_container{
   margin: 50px 0 0 30px; 
}

.gen_sale_container h3{
    color: #575959;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}