.container {
  display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 3px;
    
      
    }

/* .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    width: 1300px;
    margin: 20px auto;
  } */