* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
  font-family: 'Montserrat', sans-serif; 
}



#root {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  max-width: 1440px;
  margin: 0 auto;
  /* background-image: url(../src/images/flower_1.jpg); */
  /* background-color: aqua; */
}

a {
  text-decoration: none;
  color: black;
} 

html {
  background-color: antiquewhite;
}