.cart_cont { 
  position: relative;
}

.title_cart {
  margin: 30px;
}

.clear_btn {
  background-color: #339933;
  color: white;
  margin: 30px;
  padding: 10px;
  width: 200px;
  border-radius: 10px;   
  cursor: pointer;
  text-align: center;
  font-size: 24px;
 }

.empty {
  margin-left: 30px;
}

.order { 
 position: absolute;
 right: 36px;
  top: 0px;  
  width: 496px;
  height: 393px;
  border: 2px solid black;
  border-radius: 16px;
  
  }

  .order h2 {
   padding: 20px 0 0 25px;
    font-size: 28px;
  }

  .order p {
    padding: 50px 0 0 25px;
    font-size: 24px;
    word-spacing: 280px;
  }
    
  .pfon_ord {
    display: flex;
    flex-direction: column;
  }
    
  
  
  .order input{    
  border: 1px solid black;
  border-radius: 20px; 
  width: 446px; 
  height: 73px;
  margin: 70px 25px 25px 20px;
  padding-left: 20px;
  font-size: 18px;
  }

  .order button {
    border: 1px solid black;
    border-radius: 20px; 
    width: 446px; 
    height: 73px;
    background-color: #339933;
    color: white;
    margin-left: 25px;      
    font-size: 28px;
    cursor: pointer;
  }

  /* .order button:focus {
    border: 3px solid #339933;
  } */

  

/* .clear_btn {
    background-color: #339933;
    color: white;
    padding: 10px;
    border-radius: 10px;   
    cursor: pointer;
    width: fit-content;
  }

  .order{
    position: absolute;
    top: 200px; 
    right: 50px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 16px;
    width: 496px;
    height: 393px;
  
    }
  
  
    .order input{
    
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
  
    } */